.webName{
    margin-left: 10px;
    font-size: 34px;
}
 .getStartedButton1{
    width: 100px;
    height: 25px;
    border: 2px solid rgb(15, 8, 59); 
    border-radius: 50px;
    background-color: rgb(8, 8, 53);
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px;
     /* background-color: var(--primary-text);
 color: #fff;
 padding: 1.1em 2.1em;
 border-radius: 50px;
 font-weight: 700;
 font-size: 1.125rem; */

 }

    .getStartedButton1:hover{
        /* background-color: var(--primary-btn-hover); */
        background-color: rgb(156, 93, 93);


    }

.header-nav{
    background-color: blue;
    border-radius: 10px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    /* margin: 4px 0px 0px; */
    margin: 15px 0px 15px;
}
.getStartedButton2{
    border: 2px solid rgb(15, 8, 59); 
    border-radius: 50px;
    background-color: rgb(216, 89, 189);
    color: white;
    padding: 1.1em 2.1em; 
}

 .main-section{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-size: contain;
    /* width: 100%;
    height: 800px; */
    /* border: 6px solid black;
    margin-bottom: 10px; */
}  

.msblock1{
    font-size: 26px;
    margin: 85px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    /* background-color: rgb(247, 247, 14);
    border: 2px solid black;
    width: 80%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; */
}
.getStartedButton2{
    margin-top: 40px;
    margin-left: 20px;
}

/* .msblock2{
    background-color: rgb(53, 141, 182);
    border: 2px solid black;
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
} */

/*
.center-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     width: 100%;
    height: 200px; 
     background-color: rgb(208, 255, 0); 
    border: 3px solid line;
}

.csdiv1{
    width: 250px;
height: 585px;
border: 2px solid black;
border-radius: 14px;

}
.csdiv2{
    border: 2px solid line;
    border-radius: 14px;
    width: 250px;
    border: 2px solid black;

}
.csdiv3{
    border: 2px solid line;
    border-radius: 14px;
    width: 250px;
    border: 2px solid black;
    
    }
   
.div1box1{
    margin-top: 15px;
    width: 180px;
    height: 170px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    font-weight: 800;
    font-size: 1.33rem;
    margin-left: 5px;
   
}

.div1box2{
    border: 2px solid black;
    border-radius: 12px;
    height: 260px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;

} */
 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
 } */

.middle-section{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border: 2px solid black;
   padding: 20px;
   margin-bottom: 20px;
}

.box1{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 25px;
    height: 280px;
    width: 275px;
    /* background-color:rgb(216, 89, 189); */
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.box2{
    background-color: rgb(233, 134, 233);
    height: 280px;
    width: 275px;
    border: 2px solid rgb(39, 12, 32);
    border-radius: 25px;
    margin-left: 15px;
    margin-top: 10px;
}

.finalFooter{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(32, 7, 100); 
    width: 20px;
    height: 40px; */

}

.footerZone{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(32, 7, 100); 
    border-radius: 10px;
    width: 100% ;
    height: 140px;
}
  
.footerLogo{
    width: 130px;
    height: 60px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 40px;
    margin-top: 15px;
    margin-right: 15px;
    /* align-items: center; */

}

.footerTitle{
    color: white;
    margin-left: 20px;
}
















